---
layout: base
---

<header>
    <div class="container">
        <div class="intro-text">
            <div class="shadow">
                <div class="intro-lead-in">{{ site.description }}</div>
                <div class="intro-heading">{{ site.author }}</div>
            </div>
            <a href="#content" class="page-scroll btn btn-circle">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>            
    </div>
</header>

<section id="content">
    <div class="container">
        <div class="row">
            {{ content }}
        </div>
    </div>
</section>