---
---
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{{ site.description }}">

    <title>{{ page.title }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link type="text/css" rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css"  media="screen,projection"/>
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">    

    <style>
        header {
            {% if page.localimage %}
              background-image: url('{{ site.baseurl }}{{ page.localimage }}');
            {% else %}
              background-image: url('{{ page.image }}');
            {% endif %}
        }
    </style>
</head>
<body>
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
        </button>
        <img src="https://storage.googleapis.com/gweb-uniblog-publish-prod/static/blog/images/google-g-logo.f1b9149be2ab.svg" class="navbar-brand page-scroll img-responsive" alt="Code Z1 Logo" style="padding: 0 15px;">
        <a class="navbar-brand page-scroll" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
            <a href="#page-top"></a>
            </li>
            <li>
            <a class="page-scroll" href="{{ site.baseurl }}/about">About</a>
            </li>
            <li>
            <a class="page-scroll" href="{{ site.baseurl }}/blog">Blog</a>
            </li>
            <li>
            <a class="page-scroll" href="{{ site.baseurl }}/contact">Contact</a>
            </li>
        </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="container">
            <div class="intro-text">
                <div class="shadow">
                    <div class="intro-lead-in">{{ site.description }}</div>
                    <div class="intro-heading">{{ site.author }}</div>
                </div>
                <!--<a href="#services" class="page-scroll btn btn-xl btn-primary">Mais</a>-->
            </div>
        </div>
    </header>


    <!-- Services Section -->
    <section id="content">
        <div class="container">
            <div class="row">
                {{ content }}
            </div>
        </div>
    </section>

    <footer>
    </footer>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script>
(function($) {
    "use strict"; // Start of use strict

    // jQuery for page scrolling feature - requires jQuery Easing plugin
    $('a.page-scroll').bind('click', function(event) {
        var $anchor = $(this);
        $('html, body').stop().animate({
            scrollTop: ($($anchor.attr('href')).offset().top - 50)
        }, 1250, 'easeInOutExpo');
        event.preventDefault();
    });

    // Highlight the top nav as scrolling occurs
    $('body').scrollspy({
        target: '.navbar-fixed-top',
        offset: 51
    });

    // Closes the Responsive Menu on Menu Item Click
    $('.navbar-collapse ul li a').click(function(){
            $('.navbar-toggle:visible').click();
    });

    // Offset for Main Navigation
    $('#mainNav').affix({
        offset: {
            top: 100
        }
    })

})(jQuery); // End of use strict
</script>
</body>
</html>